<!-- INCLUDE overall_header.html -->
<!-- INCLUDECSS @mrgoldy_ultimateblog/blogbody.css -->

<!-- IF S_ULTIMATEBLOG_ENABLED and S_UB_ANNOUNCEMENT_ENABLED --><!-- INCLUDE @mrgoldy_ultimateblog/ub_announcement.html --><!-- ENDIF -->

<h1 class="blog-name">{L_BLOG}</h1>
<h2 class="blog-title"><!-- IF S_BLOG_ADD -->{L_BLOG_ADD}<!-- ELSE -->{L_BLOG_EDIT}<!-- ENDIF --></h2>

<!-- IF S_ERROR --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

<!-- IF S_BLOG_PREVIEW --><div class="panel post blog-body-panel bg1"><div class="blog-body-text blog-preview"><h3>{L_BLOG_PREVIEW}</h3><p>{BLOG_PREVIEW}</p></div></div><!-- ENDIF -->

<form id="postform" name="blog_add" method="post" enctype="multipart/form-data" action="<!-- IF S_BLOG_ADD -->{U_ACTION_BLOG_ADD}<!-- ELSE -->{U_ACTION_BLOG_EDIT}<!-- ENDIF -->"{S_FORM_ENCTYPE}>
	<div class="panel" id="postingbox">
		<div class="inner">
			<h3><!-- IF S_BLOG_ADD -->{L_BLOG_ADD}<!-- ELSE -->{L_BLOG_EDIT}<!-- ENDIF --></h3>

			<fieldset class="fields1">
				<!-- IF S_BLOG_CHANGE_AUTHOR and S_BLOG_EDIT -->
					<dl style="clear: left;">
						<dt><label for="blog_change_author">{L_BLOG_CHANGE_AUTHOR}{L_COLON}</label></dt>
						<dd><input type="text" name="blog_change_author" id="blog_change_author" size="45" value="{BLOG_CHANGE_AUTHOR}" class="inputbox autowidth" /></dd>
					</dl>
				<!-- ENDIF -->
				<dl style="clear: left;">
					<dt><label for="blog_title">{L_BLOG_TITLE}{L_COLON}</label></dt>
					<dd><input type="text" name="blog_title" id="blog_title" size="45" maxlength="124" tabindex="2" value="{BLOG_TITLE}" class="inputbox autowidth" /></dd>
				</dl>
				<dl style="clear: left;">
					<dt><label for="categories">{L_BLOG_CATEGORIES}{L_COLON}</label></dt>
					<dd>
						<!-- BEGIN categories -->
							<!-- IF not categories.S_IS_PRIVATE or S_BLOG_POST_PRIVATE -->
								<input type="checkbox" tabindex="3" name="blog_categories[]" value="{categories.ID}"<!-- IF categories.S_CURRENT_CATEGORY -->checked="checked"<!-- ENDIF --> >{categories.NAME} &nbsp;
							<!-- ENDIF -->
						<!-- END categories -->
					</dd>
				</dl>

				<!-- INCLUDE posting_buttons.html -->

				<div id="smiley-box" class="smiley-box">
					<!-- IF S_SMILIES_ALLOWED and .smiley -->
						<strong>{L_SMILIES}</strong><br>
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
						<!-- END smiley -->
					<!-- ENDIF -->
					<!-- IF S_SMILIES_ALLOWED and S_SHOW_SMILEY_LINK -->
						<br><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->
					<!-- IF BBCODE_STATUS -->
						<div class="bbcode-status">
							<!-- IF S_SMILIES_ALLOWED and .smiley --><hr /><!-- ENDIF -->
							{BBCODE_STATUS}<br>
							{SMILIES_STATUS}<br>
							{URL_STATUS}
						</div>
					<!-- ENDIF -->
				</div>

				<!-- EVENT posting_editor_message_before -->

				<div id="message-box" class="message-box">
					<textarea id="blog_text" name="blog_text" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{BLOG_TEXT}</textarea>
				</div>

				<!-- EVENT posting_editor_message_after -->

				<dl>
					<dt><label for="blog_image">{L_BLOG_IMAGE}{L_COLON}</label><br><span>{L_BLOG_IMAGE_EXPLAIN}</span></dt>
					<dd>
						<input class="inputbox autowidth" type="file" name="blog_image" size="52" />
						<!-- IF BLOG_IMAGE --><br><img src="{BLOG_IMAGE}" alt="{BLOG_TITLE}" title="{BLOG_TITLE}" width="350" height="225" style="margin-top: 3px;"/><!-- ENDIF -->
					</dd>
				</dl>

				<dl>
					<dt><label for="blog_description">{L_BLOG_DESCRIPTION}{L_COLON}</label></dt>
					<dd><textarea name="blog_description" style="width: 76%;" rows="5" tabindex="5" minlength="50" maxlength="125" placeholder="{L_BLOG_DESCRIPTION_PLACEHOLDER}">{BLOG_DESCRIPTION}</textarea>
					</dd>
				</dl>
			</fieldset>
		</div>
	</div>

	<!-- IF S_BLOG_EDIT -->
		<div class="panel bg">
			<div class="inner">
				<fieldset class="fields1">
					<dl style="clear: left;">
						<dt><label for="edit_reason">{L_BLOG_EDIT_REASON}{L_COLON}</label></dt>
						<dd><input type="text" name="edit_reason" id="edit_reason" size="60" tabindex="6" maxlength="100" class="inputbox autowidth" value="{BLOG_EDIT_REASON}" /></dd>
					</dl>
				</fieldset>
			</div>
		</div>
	<!-- ENDIF -->

	<div id="tabs" class="tabs sub-panels" data-show-panel="<!-- IF SHOW_PANEL -->{SHOW_PANEL}<!-- ELSE -->options-panel<!-- ENDIF -->" role="tablist">
		<ul>
			<li id="options-panel-tab" class="tab activetab">
				<a href="#tabs" data-subpanel="options-panel" role="tab" aria-controls="options-panel">
					<span>{L_OPTIONS}</span>
				</a>
			</li>
			<!-- IF S_BLOG_CAN_MODERATE -->
				<li id="moderate-panel-tab" class="tab">
					<a href="#tabs" data-subpanel="moderate-panel" role="tab" aria-control="moderate-panel">
						<span>{L_MODERATE}</span>
					</a>
				</li>
			<!-- ENDIF -->
		</ul>
	</div>

	<div class="panel bg3" id="options-panel">
		<div class="inner">
			<fieldset class="fields1">
				<!-- IF S_BBCODE_ALLOWED --><div><label><input type="checkbox" class="radio" name="disable_bbcode"<!-- IF S_BBCODE_DISABLED --> checked="checked"<!-- ENDIF -->/> {L_DISABLE_BBCODE}</label></div><!-- ENDIF -->
				<!-- IF S_SMILIES_ALLOWED --><div><label><input type="checkbox" class="radio" name="disable_smilies"<!-- IF S_SMILIES_DISABLED --> checked="checked"<!-- ENDIF --> /> {L_DISABLE_SMILIES}</label></div><!-- ENDIF -->
				<!-- IF S_MAGIC_URL_ALLOWED --><div><label><input type="checkbox" class="radio" name="disable_magic_url"<!-- IF S_MAGIC_URL_DISABLED --> checked="checked"<!-- ENDIF --> /> {L_DISABLE_MAGIC_URL}</label></div><!-- ENDIF -->
				<!-- IF S_BLOG_FRIENDS_ENABLED --><div><label><input type="checkbox" class="radio" name="friends_only"<!-- IF S_BLOG_FRIENDS_ONLY --> checked="checked"<!-- ENDIF --> /> {L_BLOG_FRIENDS_ONLY}</label></div><!-- ENDIF -->
				</fieldset>
		</div>
	</div>

	<!-- IF S_BLOG_CAN_MODERATE -->
		<div class="panel bg3" id="moderate-panel">
			<div class="inner">
				<fieldset class="fields1">
					<!-- IF S_BLOG_CAN_LOCK_EDIT --><div><label><input type="checkbox" class="radio" name="locked_edit"<!-- IF S_BLOG_LOCKED_EDIT --> checked="checked"<!-- ENDIF -->/> {L_LOCK_POST_EXPLAIN}</label></div><!-- ENDIF -->
					<!-- IF S_BLOG_CAN_LOCK_RATING and S_BLOG_ENABLED_RATING--><div><label><input type="checkbox" class="radio" name="locked_rating"<!-- IF S_BLOG_LOCKED_RATING --> checked="checked"<!-- ENDIF -->/> {L_BLOG_LOCK_RATING}</label></div><!-- ENDIF -->
					<!-- IF S_BLOG_CAN_LOCK_COMMENTS and S_BLOG_ENABLED_COMMENTS --><div><label><input type="checkbox" class="radio" name="locked_comments"<!-- IF S_BLOG_LOCKED_COMMENTS --> checked="checked"<!-- ENDIF -->/> {L_BLOG_LOCK_COMMENTS}</label></div><!-- ENDIF -->
				</fieldset>
			</div>
		</div>
	<!-- ENDIF -->

	<div class="panel bg2">
		<div class="inner">
			<fieldset class="submit-buttons">
				<input class="button1" type="submit" id="cancel" name="cancel" value="{L_CANCEL}" /> &nbsp;
				<input class="button1" tabindex="8" type="submit" id="submit" name="submit" value="{L_SUBMIT}" /> &nbsp;
				<input class="button1" tabindex="7" type="submit" id="preview" name="preview" value="{L_PREVIEW}" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->
