<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

<h2>{MCP_UB_REPORTS_TITLE}</h2>

<!-- IF S_ERROR --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->
<div class="panel">
	<div class="inner">

	<p>{MCP_UB_REPORTS_EXPLAIN}</p>

	<!-- IF .reports -->
		<div class="action-bar bar-top">
			<div class="pagination">
				{TOTAL_REPORTS}
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
					 &bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>

		<ul class="topiclist missing-column">
			<li class="header">
				<dl>
					<dt><div class="list-inner">{L_VIEW_DETAILS}</div></dt>
					<dd class="moderation"><span>{L_REPORTER}<!-- IF S_COMMENT_REPORT --> &amp; {L_BLOG}<!-- ENDIF --></span></dd>
					<dd class="mark">{L_MARK}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist missing-column">

		<!-- BEGIN reports -->
			<li class="row<!-- IF reports.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl>
					<dt>
						<div class="list-inner">
							<a href="{reports.U_VIEW_DETAILS}" class="topictitle" title="{L_VIEW_DETAILS}">{reports.BLOG_TITLE}<i class="icon fa-paperclip fa-fw" aria-hidden="true"></i></a><br>
							<span>{L_POSTED} {L_POST_BY_AUTHOR} {reports.AUTHOR} &raquo; {reports.AUTHOR_TIME}</span>
							<div class="responsive-show" style="display: none;">
								{L_REPORTER}{L_COLON} {reports.REPORTER} &laquo; {reports.REPORT_TIME}<br>
							</div>
						</div>
					</dt>
					<dd class="moderation">
						<span>{reports.REPORTER} &laquo; {reports.REPORT_TIME}<br>
						<!-- IF S_COMMENT_REPORT -->{L_BLOG}{L_COLON} <a href="{reports.U_VIEW_BLOG}">{reports.BLOG_TITLE}</a><!-- ENDIF --></span>
					</dd>
					<dd class="mark"><input type="checkbox" name="report_id_list[]" value="{reports.REPORT_ID}" /></dd>
				</dl>
			</li>
		<!-- END reports -->
		</ul>

		<div class="action-bar bottom">
			<!-- INCLUDE @mrgoldy_ultimateblog/ub_mcp_report_sort.html -->
			<div class="pagination">
				{TOTAL_REPORTS}
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
					 &bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>

	<!-- ELSE -->
		<p><strong>{L_NO_REPORTS}</strong></p>
	<!-- ENDIF -->

	</div>
</div>

<!-- IF .reports -->
	<fieldset class="display-actions">
		<input class="button1 button button-form-bold" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]" />
		<!-- IF not S_REPORTS_CLOSED -->&nbsp;<input class="button1 button button-form" type="submit" name="action[close]" value="{L_CLOSE_REPORTS}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'report_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'report_id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->
